body {

  
  box-sizing: border-box;
  /*background-color: black;*/
  color: orange;

}
#selector{
  position: relative;
  background-color: white;
  top: 100px;
  width: 150px;
  height: 300px;
  float:left;
}
#container{
  height: 800px;
  width: 800px;
}


#map_canvas {
  position: relative;
    width: 600px;
    height: 400px;
    background-color: black;
    margin-left: 50px;
    float: right;
  }

img {
  width: 15%;
  padding: 5px;
  display: inline-block;
  float: left;
  clear: all;

}


/*
#container{
  background-color: black;
  border-color:red;
  width: 700px;
}*/

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }

